<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979794623867-6jkh3qov75hntejig3qis1d7744csaiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979794623867-6jkh3qov75hntejig3qis1d7744csaiv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>979794623867-miq1l0gfiei0rtbsbimhcapbonjcf6dq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcY_wPCwXgAAojPykNfocKLQOF6yGRweE</string>
	<key>GCM_SENDER_ID</key>
	<string>979794623867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedropablo.authloginapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-avanzado-sign-in</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-avanzado-sign-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979794623867:ios:1e850b5df2dcf67914d1de</string>
</dict>
</plist>